body {
    font-family: 'Open Sans';
    font-size: 16px;
    background-color: #eef2ff;
}
div.post.op {
    background: #eef2ff;
    margin-top: 0px;
    margin-bottom: 25px;
    padding-left: 35px;
    padding-top:10px;
    padding-bottom: 15px;
}

div.post.reply {
    background: #d6daf0;
    margin-top: 0px;
    margin-bottom: 25px;
    padding-left: 35px;
    padding-top:10px;
    padding-bottom: 15px;
}

span.name {
    color: "#0f6602";
}

img {
    padding-right: 20px;
}

video {
    padding-right: 20px;
}

div.boardTitle {
    font-family: 'Roboto Slab';
    font-size: 28px;
    font-weight: bold;
    color: #80072A;
    text-align: center;
    margin:40px 0 10px;
}

blockquote > span.quote {
    color: #919b59;
}

pre.prettyprint {
    font-family: "PragmataPro","Droid Sans Mono", Monospace;
    background: #ffffff;
    /* color: #d6d7d9 !important; */
    border: 0;
    border-top: 4px solid #ffffff !important;
}
