:root {
	--main-bg-color: #ffe;
	--body-color: maroon;
	--a-color-1: #00e;
	--hr-color: #d9bfb7;
	--reply-color: #f0e0d6;
	--reply-border: #d9bfb7;
	--subect: #cc1105;
	--pagelist-color: #b86;
	--postblock-color: #ea8;
	--table-exif-color: #707070;
}