:root {
	--main-bg-color: #eef2ff;
	--body-color: #000;
	--a-color-1: #34345c;
	--hr-color: #b7c5d9;
	--reply-color: #d6daf0;
	--reply-border: #b7c5d9;
	--subject: #0f0c5d;
	--paglist-color: #89a;
	--postblock-color: #98e;
	--table-exif-color: #070707;
}